@import "../../../styles/utilities/utilities";

.forDoctors-hero {
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  padding-top: 200px;
  background: #f8f7f7;
  @media (max-width: 1200px) {
    padding-top: 120px;
  }

  & > img {
    position: absolute;
    height: 429px;
    z-index: 1;
    bottom: 40px;
    right: -40px;
    object-fit: contain;
    width: 100%;
    @media screen and (max-width: 1200px) {
      //   height: 295px;
      //   height: auto;
      right: -140px;
      bottom: 60px;
    }
    @media screen and (max-width: 992px) {
      bottom: 50px;
      right: -58px;
    }
    @media screen and (max-width: 767px) {
      bottom: 17px;
      right: 0;
      height: 320px;
    }
  }
  & > img:nth-of-type(1) {
    @media (max-width: 992px) {
      display: none;
    }
  }
  & > img:nth-of-type(2) {
    display: none;

    @media (max-width: 992px) {
      display: block;
      left: 0;
      height: auto;
      bottom: 0;
    }
  }

  &-row {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @media (max-width: 1200px) {
      bottom: 50px;
    }

    &-content {
      z-index: 2;
      -ms-flex: 0 0 54.333333%;
      flex: 0 0 54.333333%;
      max-width: 54.333333%;
      & > h2 {
        margin-bottom: 30px;
        @media screen and (max-width: 576px) {
          margin-bottom: 25px;
        }
      }
      & > p {
        margin-top: 0;
        margin-bottom: 40px;
        // opacity: 0.7;
        @media screen and (max-width: 992px) {
          padding-right: 0;
        }
        @media screen and (max-width: 576px) {
          margin-bottom: 35px;
        }
      }
      @media screen and (max-width: 992px) {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &-images {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
      & > img {
        width: 100%;
        z-index: 2;
        position: relative;
        @media screen and (max-width: 992px) {
          max-width: 65%;
          margin-right: auto;
          margin-left: 46%;
          display: flex;
        }
        @media screen and (max-width: 576px) {
          max-width: 80%;
          margin-right: auto;
          margin-left: 40%;
          display: flex;
        }
      }
      @media screen and (max-width: 992px) {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 74px;
      }
    }
  }

  &-centerImage {
    width: 394px;
    height: 267px;
    position: relative;
    bottom: 160px;
    left: 30%;
    z-index: 2;
    @media (max-width: 1200px) {
      width: 295px;
      height: auto;
      bottom: 50px;
      left: 44%;
    }
    @media (max-width: 992px) {
      width: 70%;
      height: auto;
      bottom: 197px;
      left: -65px;
    }
    @media (max-width: 767px) {
      bottom: 140px;
    }
    @media (max-width: 576px) {
      bottom: 120px;
    }
    @media (max-width: 375px) {
      bottom: 70px;
      left: -45px;
    }
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px !important;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px !important;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px !important;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px !important;
    }
  }
  @media (min-width: 1440px) {
    .container {
      max-width: 1200px !important;
    }
  }
  .container {
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (max-width: 575.98px) {
      padding-right: 38px !important;
      padding-left: 38px !important;
    }
  }
}
