@import "../../../styles/utilities/utilities";

.products-safe {
  background-color: #fff;
  position: relative;
  z-index: 1;

  .container {
    padding: 0 50px 150px;
    @include flexCenter(space-evenly, center, row);

    & > img {
      max-width: 60%;
    }

    @media only screen and (max-width: 991.98px) {
      padding: 0 50px 100px;
      flex-direction: column;
      & > img {
        max-width: 70%;
      }
    }
    @media only screen and (max-width: 767.98px) {
      padding: 0 20px 60px;
      & > img {
        max-width: 80%;
      }
    }
    @media only screen and (max-width: 575.98px) {
      padding: 0 0 100px;
      & > img {
        max-width: 95%;
      }
    }
  }

  &-information {
    width: 515px;
    max-width: 50%;
    & > h2 {
      margin-bottom: 34px;
      // padding-right: 35px;
      width: 90%;
    }
    & > p {
      margin-bottom: 29px;
      opacity: 0.7;
    }
    & > p:last-of-type {
      margin-bottom: 55px;
    }
    & > .arrowButton {
      transform: translateX(-20px);
    }

    @media only screen and (max-width: 991.98px) {
      margin-top: 40px;
      max-width: 100%;
      width: 400px;
    }
    @media only screen and (max-width: 575.98px) {
      width: 100%;
      padding: 0 38px;
      & > h2 {
        margin-bottom: 24px;
        // padding-right: 50px;
      }
      & > p {
        margin-bottom: 14px;
        opacity: 0.7;
      }
      & > p:last-of-type {
        margin-bottom: 80px;
      }
      & > .arrowButton {
        transform: translateX(0px);
      }
    }
  }

  & > img {
    position: absolute;
    bottom: 120px;
    width: 100%;
    z-index: -1;
  }

  & > img:first-of-type {
    @media only screen and (max-width: 575.98px) {
      display: none;
    }
  }

  & > img:last-of-type {
    display: none;
    bottom: 85px;
    @media only screen and (max-width: 575.98px) {
      display: block;
    }
  }
}
