@import "../../../styles/utilities/utilities";

.gallery {
  width: 100%;
  z-index: 1;
  margin-top: -100px;
  // padding-right: 50px;
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
  background: transparent;
  // background-image: url("../../../assets/images/forDoctors/carousel\ bg.png");
  // background-size: 100% 60%;
  // background-repeat: no-repeat;
  @media only screen and (max-width: 991.98px) {
    // background-image: none;
    // background-color: #fff;
  }
  .container {
    width: 100%;
    .gallery-image-container {
      width: 100%;
      @include flexCenter(flex-end, center, row);
    }
  }

  @media only screen and (max-width: 991.98px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media only screen and (max-width: 575.98px) {
    padding-right: 0;
    margin-top: 0px;
  }

  &-about-image {
    position: absolute;
    z-index: -1;
    top: -225px;
    right: 0;
    @media only screen and (min-width: 1600px) {
      right: 0px;
      width: calc(100% - 400px);
    }
    @media only screen and (min-width: 1900px) {
      width: 74%;
      height: 100%;
      top: -200px;
    }
    @media only screen and (max-width: 991.98px) {
      top: -5%;
    }

    @media only screen and (max-width: 575.98px) {
      top: -25%;
    }
  }

  &-duo {
    max-width: 45%;
    @include flexCenter(center, flex-end, column);
    margin-right: 25px;
    @media only screen and (max-width: 991.98px) {
      margin-right: 10px;
      max-width: 90%;
    }
    :nth-child(1) {
      @media only screen and (max-width: 991.98px) {
        max-width: 60%;
      }
    }
    :nth-child(2) {
      max-width: 100%;
      margin-top: 25px;
      @media only screen and (max-width: 991.98px) {
        max-width: 90%;
      }
      @media only screen and (max-width: 975.98px) {
        max-width: 96%;
      }
    }
    * {
      transition: all 0.3s ease-in;
      &:hover {
        transform: scale(1.015);
      }
    }
  }
  &-single {
    max-width: 36%;
    @media only screen and (max-width: 991.98px) {
      display: none;
    }
    &-image {
      max-width: 100%;
      transform: translateY(20%);
      transition: all 0.3s ease-in;
      &:hover {
        transform: translateY(20%) scale(1.015);
      }
    }
  }
}
