@import "../../../styles/utilities/utilities";

.products-brands {
  background-color: #fff;
  width: 100%;
  max-width: calc(50vw + 720px);
  @include flexCenter(flex-start, center, row);

  &-image {
    width: 55%;
    & > img:first-of-type,
    & > img:last-of-type {
      width: 100%;
      transform: translateY(-50px);
    }
    & > img:last-of-type {
      display: none;
    }
  }

  &-information {
    width: 450px;
    max-width: 45%;
    margin-left: 120px;
    margin-right: 20px;
    & > h2 {
      margin-bottom: 34px;
    }
    & > p {
      margin-bottom: 29px;
      opacity: 0.7;
    }
    & > p:last-of-type {
      margin-bottom: 55px;
    }
    & > .arrowButton {
      transform: translateX(-10px);
    }
  }

  @media only screen and (max-width: 1359.98px) {
    &-image {
      & > img {
        transform: translateY(-70px);
      }
    }
    &-information {
      margin-left: 40px;
    }
  }

  @media only screen and (max-width: 1199.98px) {
    max-width: 100%;
    &-image {
      & > img {
        transform: translateY(-120px);
      }
    }
    &-information {
      margin-left: 20px;
      padding: 20px;
    }
  }

  @media only screen and (max-width: 991.98px) {
    flex-direction: column-reverse;
    &-image {
      width: 100%;
      & > img:first-of-type {
        display: none;
      }
      & > img:last-of-type {
        display: block;
        width: 90%;
        transform: translateY(0);
      }
    }
    &-information {
      width: auto;
      max-width: 400px;
      & > .arrowButton {
        transform: translateX(0px);
      }
    }
  }

  @media only screen and (max-width: 767.98px) {
    &-image {
      width: 100%;
      & > img:last-of-type {
        width: 90%;
      }
    }
  }

  @media only screen and (max-width: 575.98px) {
    &-image {
      width: 100%;
      & > img:last-of-type {
        width: 100%;
      }
    }
    &-information {
      max-width: 340px;
      & > h2 {
        margin-bottom: 24px;
      }
      & > p {
        margin-bottom: 14px;
        opacity: 0.7;
      }
      & > p:last-of-type {
        margin-bottom: 33px;
      }
    }
  }
}
