@import "../../../../styles/utilities/utilities";

#headerButton {
  min-width: 253px;
  height: 75px;
  border-radius: 700px;
  font-family: "Euclid";
  font-weight: 400;
  font-size: 17px;
  text-transform: none;
  box-shadow: none;
}
