.teamCarousel {
  // width: 800px;
  // transform: translateX(200px);
  overflow: hidden;
  position: relative;
  padding-bottom: 100px;
  width: 800px;
  max-width: 55%;
  @media only screen and (max-width: 991.98px) {
    max-width: 90%;
  }
  @media only screen and (max-width: 575.98px) {
    max-width: 100%;
  }

  .slick-list {
    padding-left: 20px;
  }

  &-cover {
    position: absolute;
    height: 100%;
    width: 150px;
    top: 0;
    right: 0;
    background-color: #fff;
  }

  &-slider-card {
    outline: none;
    width: 90% !important;
    margin: 0 5%;
    img {
      width: 100%;
    }
  }
}

.team-right-arrow {
  @media only screen and (max-width: 991.98px) {
    transform: translateX(-75%) translateY(200%) !important;
  }
  @media only screen and (max-width: 575.98px) {
    transform: translateX(-50%) translateY(200%) !important;
  }
}

.team-left-arrow {
  @media only screen and (max-width: 991.98px) {
    transform: translateX(-25%) translateY(200%) !important;
  }
  @media only screen and (max-width: 575.98px) {
    transform: translateX(0%) translateY(200%) !important;
  }
}

.teamCarousal-progress {
  padding-top: 85px;
  padding-left: 280px;
  @media only screen and (max-width: 991.98px) {
    padding-left: 180px;
  }
  @media only screen and (max-width: 575.98px) {
    padding-left: 200px;
  }
}
