@import "../../../styles/utilities/utilities";

.products-reasons {
  position: relative;
  background-color: #f8f7f7;
  z-index: 1;
  overflow: hidden;

  .container {
    padding: 150px;

    & > h2 {
      margin-bottom: 25px;
      width: 100%;
      text-align: center;
    }

    & > div:nth-of-type(1) {
      @include flexCenter(space-between, center, row);

      & > div:nth-last-of-type(1) {
        & > div:nth-of-type(3) {
          & > h1 {
            line-height: 2;
          }
        }
      }
    }
    & > div:nth-of-type(2) {
      @include flexCenter(space-between, center, row-reverse);
    }

    & > div {
      & > div:first-of-type {
        max-width: 40%;
      }
      & > div:last-of-type {
        max-width: 50%;
        width: 550px;
        position: relative;
        overflow: visible;
        & > img:first-of-type {
          width: 100%;
        }
        & > img:last-of-type {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 100%;
          z-index: -1;
        }
      }
      & > img:nth-of-type(1) {
        transform: translateY(5%);
      }
    }

    @media only screen and (max-width: 1359.98px) {
      padding: 150px 100px;
    }
    @media only screen and (max-width: 1199.98px) {
      padding: 150px 20px;
    }
    @media only screen and (max-width: 991.98px) {
      padding: 100px 20px;
      & > h2 {
        margin-bottom: 40px;
        width: 240px;
        margin: auto auto 40px auto;
      }

      & > div:nth-of-type(1) {
        flex-direction: column;
      }
      & > div:nth-of-type(2) {
        flex-direction: column;
      }

      & > div {
        & > div:first-of-type {
          max-width: 100%;
          width: 400px;
        }
        & > div:last-of-type {
          max-width: 550px;
          width: 70%;
          & > img:last-of-type {
            width: 250%;
          }
        }
      }
    }
    @media only screen and (max-width: 767.98px) {
      padding: 80px 20px;
      & > div {
        & > div:last-of-type {
          width: 80%;
          margin-bottom: 80px;
        }
      }
    }
    @media only screen and (max-width: 575.98px) {
      padding: 50px 20px;
      & > h2 {
        width: 200px;
      }
      & > div {
        & > div:first-of-type {
          width: 270px;
        }
        & > div:last-of-type {
          width: 100%;
          & > img:last-of-type {
            width: 300%;
            transform: translateX(-50%) translateY(-40%);
          }
        }
      }
      & > div:last-of-type {
        & > div:first-of-type {
          width: 270px;
        }
        & > div:last-of-type {
          width: 100%;
          & > img:last-of-type {
            width: 300%;
            transform: translateX(-40%) translateY(-40%) rotateY(135deg);
          }
        }
      }
    }
  }
  & > img {
    position: absolute;
    top: 50%;
    right: 0;
    width: 95%;
    transform: translateY(-35%);
    z-index: -1;
    @media only screen and (min-width: 1980px) {
      transform: translateY(-40%);
    }
    @media only screen and (max-width: 991.98px) {
      display: none;
    }
  }
}

.reason {
  @include flexCenter(flex-start, flex-start, row);
  max-width: 460px;
  margin-bottom: 48px;
  & > h1 {
    line-height: 1;
    margin-right: 48px;
  }
  & > div {
    & > h4 {
      margin-bottom: 22px;
    }
    & > p {
      opacity: 0.7;
    }
  }

  @media only screen and (max-width: 575.98px) {
    flex-direction: column;
    & > h1 {
      margin-bottom: 15px;
    }
    & > div {
      & > h4 {
        margin-bottom: 15px;
      }
    }
  }
}
