.forDoctor-feedback {
  .container {
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (max-width: 575.98px) {
      padding-right: 38px !important;
      padding-left: 38px !important;
    }
    @media only screen and (min-width: 576px) {
      max-width: 540px !important;
    }
    @media only screen and (min-width: 768px) {
      max-width: 720px !important;
    }
    @media only screen and (min-width: 992px) {
      max-width: 960px !important;
    }
    @media only screen and (min-width: 1200px) {
      max-width: 1140px !important;
    }
  }

  padding: 100px 0;
  @media only screen and (max-width: 575.98px) {
    padding: 60px 0;
  }

  .container > h2 {
    margin: auto auto 80px auto;
    text-align: center;
    @media only screen and (max-width: 575.98px) {
      margin-bottom: 45px;
    }
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    &-col {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 48%;
      background-color: #f8fafb;
      margin: 6px;
      border-radius: 15px;
      height: 196px;

      @media only screen and (max-width: 991.98px) {
        width: 100%;
      }
      @media only screen and (min-width: 576px) {
        height: 146px;
      }

      & > img {
        width: 55px;
        height: 55px;
        margin: 0 45px 0 65px;
      }

      &-content {
        & > h5 {
          margin: 0;
          font-size: 27px;
          line-height: 45px;
          display: flex;
          align-items: center;
          letter-spacing: -0.03em;
          color: #1c2b49;
          padding-bottom: 6px;
          font-style: normal;
          font-weight: normal;
        }
        & > a {
          font-style: normal;
          font-weight: normal;
          font-size: 21px;
          line-height: 38px;
          letter-spacing: -0.015em;
          color: rgba(28, 43, 73, 0.7);
          text-decoration: none;
          &:hover {
            color: #c25a3f;
            text-decoration: underline;
          }
        }
        @media only screen and (max-width: 575.98px) {
          & > h5 {
            font-size: 20px;
          }
          & > a {
            font-size: 16px;
          }
        }
      }
    }
  }
}
