@import "../../../../styles//utilities/utilities";

.btn-add {
}
.btn-collapse {
}

.innerdrop-container-subtitle {
  font-size: 25px;
  line-height: 38px;
  letter-spacing: -1.5%;
  color: #1c2b49;
  padding-left: 25px;

  margin: 0px;
  @media only screen and (max-width: 575.98px) {
    font-size: 19px;
    line-height: 32px;
  }
}
.answerdrop {
  width: 100%;
  &-div {
   
    @media only screen and (max-width: 575.98px) {
      padding: 0px;
    }
  }
}
.answer {
  font-size: 19px;
  line-height: 34px;
  color: rgba(28, 43, 73, 0.7);
  letter-spacing: -1.5%;
  margin: 35px 25px 47px 50px;
  @media only screen and (max-width: 575.98px) {
 font-size: 16px;
 line-height: 28px;
 margin-top: 27px;
  }
}
.answerdrop-container-div {
  display: flex;
  flex-direction: row;
  /* width: auto; */
  /* margin: 0px 285px; */
  /* border-bottom: 1px solid #CFD3DD; */
  justify-content: flex-start;
  align-items: center;
  margin-top: 56px;
  @media only screen and (max-width: 575.98px) {
    margin-top: 37px;
  }
}
