.trustpilot-section {
  padding: 100px 0;
  background: #fff;
  font-family: "Euclid";
  @media only screen and (max-width: 575.98px) {
    padding: 50px 0 20px;
  }
  .container {
    @media only screen and (max-width: 575.98px) {
      padding: 0;
    }
  }
  h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    font-family: "Euclid";
    @media only screen and (max-width: 575.98px) {
      font-size: 25px;
    }
  }
}
.trustpilot-rating {
  text-align: center;
  color: rgba(45, 45, 45, 0.7);
  a {
    color: rgb(45, 45, 45);
  }
  img:nth-of-type(1) {
    max-width: 50%;
  }
  img:nth-of-type(2) {
    max-width: 40%;
  }
}
.truspilot-row {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 20px;
  padding: 50px 0;
  align-items: center;

  @media only screen and (max-width: 991.98px) {
    grid-template-columns: none;
    grid-template-rows: 20% 1fr;
    grid-gap: 50px;
  }
}
.trustpilot-review-wrap {
  align-items: flex-start;
  overflow: hidden;
}
.trustpilot-review {
  font-size: 18px;
  margin: 0 10px;
  font-family: "Euclid";
  &-bg {
    background: #f8fafb;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 25px;
  }
  & .rating img {
    margin-right: 5px;
    display: inline;
  }
  h4 {
    margin: 10px 0px 10px;
    font-size: 19px;
  }
  h5 {
    font-size: 16px;
    margin: 0;
  }
  p {
    margin: 0;
  }
}
.user-name-and-rating {
  padding: 0 20px;
  small {
    color: #8c8c8c;
  }
}
