@import "../../../styles/utilities/utilities";

.products-stress {
  background-color: #fff;
  position: relative;
  z-index: 3;

  .container {
    padding: 100px 150px;
    & > h2 {
      margin-bottom: 85px;
    }
    @media only screen and (max-width: 1359.98px) {
      padding: 100px 100px;
    }
    @media only screen and (max-width: 1199.98px) {
      padding: 100px 50px;
      & > h2 {
        margin-left: 20px;
      }
    }
    @media only screen and (max-width: 991.98px) {
      padding: 60px 38px;
      & > h2 {
        font-size: 36px;
        margin: auto;
        margin-bottom: 60px;
        max-width: 400px;
        width: 90%;
        margin-left: 0;
        // padding-right: 40px;
      }
    }
    @media only screen and (max-width: 575.98px) {
      padding: 20px 38px 50px;
      & > h2 {
        font-size: 25px;
        margin-bottom: 37px;
        // max-width: 300px;
        // padding-right: 80px;
      }
    }
  }

  &-points {
    @include flexCenter(space-between, flex-start, row);
    & > div {
      width: 355px;
      & > div {
        @include flexCenter(flex-start, center, row);
        height: 100px;
        & > h1 {
        }
        & > img {
          margin-left: 25px;
          transform: translateY(-20%);
        }
      }
      & > h4 {
        margin: 25px 0;
        padding-right: 20px;
      }
      & > p {
        opacity: 0.7;
      }
    }

    @media only screen and (max-width: 1199.98px) {
      & > div {
        margin: 0 20px;
        & > h4 {
          padding-right: 20px;
        }
      }
    }

    @media only screen and (max-width: 991.98px) {
      flex-direction: column;
      align-items: center;
      & > div {
        margin: 0 0 50px 0;
        width: auto;
        & > div {
          & > h1 {
            font-size: 36px;
          }
        }
        & > h4 {
          margin: 20px 0;
          padding: 0;
          max-width: 300px;
        }
        & > p {
          max-width: 400px;
        }
      }
    }

    @media only screen and (max-width: 575.98px) {
      flex-direction: column;
      align-items: center;
      & > div {
        margin-bottom: 40px;
        width: auto;
        & > div {
          height: auto;
          & > h1 {
            font-size: 30px;
            margin: 0;
          }
          & > img {
            @media only screen and (max-width: 575.98px) {
              width: 39px;
              height: auto;
            }
          }
        }
        & > h4 {
          max-width: 80%;
        }
        & > p {
          // max-width: 300px;
          margin-bottom: 0;
        }
      }
      & > div:nth-of-type(1) {
        & > div {
          & > img {
            width: 42px;
          }
        }
      }
      & > div:nth-of-type(2) {
        & > div {
          & > img {
            width: 46px;
          }
        }
      }
      & > div:nth-of-type(3) {
        & > div {
          & > img {
            width: 49px;
          }
        }
      }
    }
  }

  & > img {
    position: absolute;
    bottom: 0;
    width: 100%;
    @media only screen and (max-width: 575.98px) {
      width: 150%;
      height: 80px;
      right: 0;
    }
  }
}
